# Push notifications keys. You can generate them with command "./node_modules/.bin/web-push generate-vapid-keys"
PUBLIC_VAPID_KEY="BBl0Jx1Vp9Ej65iAvrLTuc4Szeh4DZihkRVXKlAUyJKHpD3ToMS71Q59ULFuUDg1pkr3hz0utGs_KBisx9vpHNY",
PRIVATE_VAPID_KEY="Y1lEMwH1DUhwY0rKy_-qfpWmvitFUn2qaVPIEBBD0hQ"
# This must be either a URL or a 'mailto:' address.
# For example: 'https://my-site.com/contact' or 'mailto: contact@my-site.com'
WEB_PUSH_CONTACT="mailto:benjamin@swaggergroupllc.com"
